
body
  padding-right 0 !important

.big
  margin 1.5rem 0 0.5rem
  font-size 1.8em

.head-icon
  font-size 1.5em
  margin-top -0.25rem
  margin-right 0.5rem

#welcome-page
  margin-top 100px
  text-align left

  .q-btn.signin
    margin-right 5em

#welcome-sigin .modal-content
  max-width 100%
  width 700px
