
body
  padding-right 0 !important

.big
  margin 1rem 0
  font-size 2em

.head-icon
  font-size 1.5em
  margin-top -0.25rem
  margin-right 0.5rem

#welcome-page
  text-align left

  .q-btn.signin
    margin-right 5em

#welcome-sigin .modal-content
  max-width 100%
  width 700px