
.q-data-table
  .q-btn
    font-size 1em
    min-height 28px

    & + .q-btn
      margin-left 1em

  img.rounded
    width 35px
    height 35px
    object-fit cover
    object-position 50% 0
    border-radius 50%