
@import "base/*"
@import "fonts/*"
@import "components/*"

body
  background $back

.layout-header .header-logo
  width auto
  height 1.5em
  margin-left 1em

.layout-aside
  height 100vh

main, .layout
  min-height 100% !important