
@import "base/*"
//@import "fonts/*"
@import "components/*"
@import "pages/*"

body
  background $back

.layout-header .header-logo
  width auto
  height 2em
  margin-left 1em

.layout-aside
  height 100vh

main, .layout
  min-height 100% !important

.max-available-height
  min-height: calc(100vh - 50px);